{% for item in site.data.projectCards %}
<div class="projectCards">
	<h2>{{ item.name }}</h2>
	<h3 class="projectStatus">{{ item.status }}</h3>
	<p> {{ item.desc }}</p>
	{% if item.link %}
		<a href="{{ item.link }}" target="_blank">Link To Project</a>
	{% endif %}
	{% if item.repo %}
		<div class="card-footer">
			<a href="{{ item.repo }}" target="_blank">Repository</a>
			{% for tag in item.tags %}
				<div class="lang-tag {{ tag }}">{{ tag }}</div>
			{% endfor %}
		</div>
	{% endif %}
</div>	
{% endfor %}
 