<div class="container" onclick="animateSwitch()">
	<div class="switch">
		<div class="toggle-button">
			<div class="toggle"></div>
			<div class="moon-mask"></div>
			<div class="circles-wrapper">
				<div class="circle"></div>
				<div class="circle"></div>
				<div class="circle"></div>
				<div class="circle"></div>
				<div class="circle"></div>
				<div class="circle"></div>
				<div class="circle"></div>
				<div class="circle"></div>
			</div>
		</div>
	</div>
</div>

<!-- Credit: https://gist.github.com/CodeMyUI/5597b1390ff230602c70df14cfe381fe -->