body {
	margin: 60px auto;
	width: 70%;
}

nav ul, footer ul {
	font-family: 'Helvetica', 'Arial', 'Sans-Seif';
	padding: 0px;
	list-style: none;
	font-weight: bold;
	display: flex;
	flex-direction: row;
}

nav ul li, footer ul li {
	/*display: inline;*/
	margin-right: 20px;
	display: flex;
	align-items: center;
}

a {
	text-decoration: none;
	color: #999;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 3em;
	font-family: 'Helvetica', 'Arial', 'Sans-Serif';
}

p {
	font-size: 1.5em;
	line-height: 1.4em;
	color: #333;
}

footer {
	border-top: 1px solid #d5d5d5;
	font-size: 0.8em;
}

#darkModeButton {
	border: none;
	color: #999;
	outline: none;
	background-color: transparent;
	font-size: 1.1em;
}

.current {
	color: black;
}

.projectCards {
	border-top: 1px solid #d5d5d5;
	margin-bottom: 15px;
}

.projectCards p{
	font-size: 1.3em;
}

.dark{
    background-color: #222;
    color: #e6e6e6;
}

.dark p {
	color:  #e6e6e6;
}
