body {
	margin: 60px auto;
	width: 70%;
}

#divider {
	width: 70%;
	height: 1px;
	border-bottom: 1px solid #d5d5d5;
}

nav ul, footer ul {
	font-family: 'Helvetica', 'Arial', 'Sans-Seif';
	padding: 0px;
	list-style: none;
	font-weight: bold;
	display: flex;
	flex-direction: row;
}

nav ul li, footer ul li {
	/*display: inline;*/
	margin-right: 20px;
	display: flex;
	align-items: center;
}

a {
	text-decoration: none;
	color: #999;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 3em;
	font-family: 'Helvetica', 'Arial', 'Sans-Serif';
}

p {
	font-size: 1.5em;
	line-height: 1.4em;
	color: #333;
}

footer {
	border-top: 1px solid #d5d5d5;
	font-size: 0.8em;
}

input {
	width:  5%;
}

#darkModeButton {
	border: none;
	color: #999;
	outline: none;
	background-color: transparent;
	font-size: 1.1em;
}

.current {
	color: black;
}

.projectCards {
	border-top: 1px solid #d5d5d5;
	margin-bottom: 15px;
}

.projectCards p{
	font-size: 1.3em;
}

.dark{
    background-color: #222;
    color: #e6e6e6;
}

.dark p {
	color:  #e6e6e6;
}


/* card footer */
.card-footer {
	display: flex;
	flex-direction: flex-start;
}

.card-footer a {
	padding-top: 5px;
	padding-right: 25px;
}

.lang-tag {
	padding: 5px 15px;
	margin: 0 10px;
	color: white;
	border-radius: calc(0.5 * 100px);
}

.js {
	background-color: #d408b5;
}

.react {
	background-color: #145bcc;
}

.express {
	background-color: #1c8008;
}

.SQLite {
	background-color: #2c0580;
}

.python {
	color: black;
	background-color: #e2ed0e;
}

.swift {
	background-color: #de070a;
}