<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{ page.title }}</title>
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
	<script type="text/javascript" src="/assets/js/actions.js"></script>
	<script type="text/javascript" src="/assets/js/animation.js"></script>
</head>
<body class="dark" onload="updateViewMode()">
	{% include navigation.html %}
	{{ content }}
	{% include footer.html %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
</body>
</html>